body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	overflow-y:scroll;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#356DF7;
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:20px;
	padding-right:15px;
}

#navbar a:hover{
	color:gray;
}

#showcase{
	background-image:url('../images/new_showcase.jpg');
	background-position:center right;
	min-height:200px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:55px;
	line-height: 1em;
	padding-top:30px;
	padding-bottom:30px;
}

#main{
	float:left;
	width:80%;
	padding:0 30px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.6em;

}

#main_home{
	float:left;
	width:70%;
	padding:100px 30px;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 1.6em;
	vertical-align: middle;

}

.sub{
	border-left:solid;
	border-width: 0 3px;
	padding-left:10px;
	border-color: #356DF7
}

/**
#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}
**/

#avatar{
	padding: 10px;
	width: 25%;
	border-radius: 60%;
	float:right;
	box-sizing: border-box;
}


#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:10px;
	margin-top:40px;
}


@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}